.ant-layout-header{background:#032128!important;padding-inline:0!important}.demo-logo{width:120px;height:32px;background:hsla(0,0%,100%,.2);border-radius:6px}.ant-steps.ant-steps-horizontal:not(.ant-steps-label-vertical)
.ant-steps-item:last-child
.ant-steps-item-title{-webkit-padding-end:16px!important;padding-inline-end:16px!important}